*{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

.container_1{
    display: block;
    background-color: rgb(201, 201, 200);
    min-height: 98vh;
    margin: 0 auto;
    text-align: center;
    
}
.container_1 h1{
    padding-top: 20px;  
    font-size: 40px;
}
.container_1 p{
    padding-bottom: 5px;  
    font-size: 15px;
}

.container_2{
    width: 98%;
    background-color: #ffffff;
    margin: auto;
   
}

.container_2 figure{
     margin: auto;
     margin: 0 auto; 
}

figcaption{
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 15px;
}

.list_description{
    word-wrap: break-word;
    width: 29%;
    margin: 0 auto;
}
li{
    padding: 10px;
    text-align: left;
}

ul{
    padding-bottom: 20px;
}

#citacao{
    padding-bottom: 10px;
}
#citacao, #citacao_2{
    font-style: italic;
    padding-left: 20px;
    text-align: left;
    font-size: 18px;
}

footer{
    padding-top: 40px;
    padding-bottom: 60px;
    font-size: 20px;
}


@media (max-width: 480px) {
    
    .container_1{
   width: 430px;
    
}
.container_1 figure img{
    width: 380px;
}


.container_1 figcaption{
    font-size: 12px;
}

.container_1  h1{
    font-size: 15px;
}
.container_1 p{
    font-size: 12px;
}

.container_1 li{
    font-size: 12px;
}

#citacao{
    font-size: 13px;
}

#citacao_2 {

    font-size: 13px;
}

footer{
    font-size: 13px;
}

a, b{
    font-size: 13px;
}
h3 {
    font-size: 14px;
}
.list_description{
        width: 75%;
}
}

@media (min-width: 481px) and (max-width: 760px) {
    
    .container_1{
   width: 530px;
    
}
.container_1 figure img{
    width: 500px;
}


.container_1 figcaption{
    font-size: 13px;
}

.container_1  h1{
    font-size: 15px;
}
.container_1 p{
    font-size: 12px;
}

.container_1 li{
    font-size: 12px;
}

#citacao{
    font-size: 13px;
}

#citacao_2 {

    font-size: 13px;
}

footer{
    font-size: 13px;
}

a, b{
    font-size: 13px;
}
h3 {
    font-size: 14px;
}
.list_description{
        width: 99%;
}
} {
    
    .container_1{
   width: 460px;
    
}
.container_1 figure img{
    width: 380px;
}


.container_1 figcaption{
    font-size: 12px;
}

.container_1  h1{
    font-size: 15px;
}
.container_1 p{
    font-size: 12px;
}

.container_1 li{
    font-size: 12px;
}

#citacao{
    font-size: 13px;
}

#citacao_2 {

    font-size: 13px;
}

footer{
    font-size: 13px;
}

a, b{
    font-size: 13px;
}
h3 {
    font-size: 14px;
}
.list_description{
        width: 99%;
}
}
